<div class="container-fluid">
    <div class="containerss">
        <div class="brand">
            <a routerLink="/">
                <img src="assets/logo.png" alt="">
            </a>
        </div>
        <div class="content">
            
            <ul>
                <li>
                    <i class="bi bi-telephone-fill"></i>
                    +91 9871330852
                </li>
                |
                <li>
                    <i class="bi bi-envelope-fill"></i>
                    firstchoiceedutech@gmail.com
                </li>
                |
                <li>Login</li>
            </ul>
        </div>
    </div>
</div>