<div class="container-fluid">
    <h1>Career</h1>
    <p>FirstChoice Edutech has successfully done the placement of students in different companies across India.</p>

    <div class="row">
        <div class="col">
            <div class="icon-image">
                <video autoplay loop>
                    <source src="assets/img/vid-icon01.mp4" type="video/mp4">
                    
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col">
            <h5>Career & Placement</h5>
            <span>FirstChoice Edutech Guidance and training have made the students employable and winner.
                 During the courses, FirstChoice Edutech facilitates Industrial exposure, on the job training,
                  and pro-active placement.</span>
            <br/>
            <br/>
            <h5>Career Option</h5>
            <span>
                A certified professional has the option of jobs in MNC or Indian companies. A candidate with good communication skills can get a good job at Domestic or international companies. FirstChoice Edutech has tie-ups with companies in the following segments.
            </span>
            <br/>
            <br/>
            <ul>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        Banking Insurance Securities Hospitality Telecom FMCG.
                    </span>
                </li>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        Pharmaceuticals Chemicals Manufacturing Auto Media Aviation.
                    </span>
                </li>

                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        Tourism Oil & Gas Export-Import Power BPO IT and more.
                    </span>
                </li>
            </ul>
            <br/>
            <br/>
            <h5>Career Guidance to Parents and Guardians </h5>
            <span >
                Every parent wants the best for their child and hopes that he or she should get employed speedily and as per his or her competencies. FirstChoice Edutech has a team of counselors, Placement officers, a student placement cell, career planners to give the right advice and right direction.
            </span>
            <br/>
            <br/>
            <h5>FirstChoice Edutech Placement Cell</h5>
            <span>
                FirstChoice Edutech has a centralized placement cell headed by a Director and supported by the corporate and regional placement cell. FirstChoice Edutech has successfully placed students and has tie-ups with companies at the corporate and regional levels.
            </span>
            <br/>
            <br/>
            <span>
                FirstChoice Edutech has tie-ups in India and abroad and has also the distinction of placing students in overseas projects. FirstChoice Edutech placement team has tie-ups and agreements with companies. These agreements have been executed thru its associate partner companies.
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Features of placement chamber</h2>
            <ul>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        FirstChoice Edutech's core strength is its 100% job placement.
                    </span>
                </li>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>

                        FirstChoice Edutech has placement cells at the central level and regional level.
                    </span>
                </li>

                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        The placement cell is headed by a Director, being supported by direct-indirect repartees at the corporate and regional levels.
                    </span>
                </li>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        Placement cell will ensure placement across all industries, segments, and across all states.
                    </span>
                </li>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        Placement cell will enter into MOU with corporate, placement companies, colleges, CA firm, outsourcing agencies.
                    </span>
                </li>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        Placement cell will also facilitate industry visits/industrial training.
                    </span>
                </li>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        Placement cell will also facilitate communication and personality development workshops.
                    </span>
                </li>
                <li>
                    <span>
                        <i class="bi bi-check2-all"></i>
                    </span>
                    <span>
                        Vacancy status will be shared with all our centers.
                    </span>
                </li>

            </ul>
        </div>
        <div class="col">
            <div class="icon-image">
                <video autoplay loop>
                    <source src="assets/img/vid-icon02.mp4" type="video/mp4">
                    
                    Your browser does not support the video tag.
                </video>
            </div>      
        </div>
    </div>
</div>