<div class="container-fluid">
    <div class="container">
        <h2>About</h2>
        <h5>Our Profile</h5>
        <div class="row">

            <div class=" col box">
    
                <p><em style="font-weight: 500;"> FirstChoice EduTech</em> is an education consultancy that assists students 
                    to get the right course in the right place. FirstChoice EduTech is an institute of distance 
                    learning cum education consultancy. Our core areas are Distance Education, Open E-learning, Consultancy
                     to Universities, Skill Development etc.. It has been founded in 2010 and delivers quality education services
                      to its students. FirstChoice EduTech's main aim is to make each and every individual well-qualified with 
                      certified education. Institute is providing skills-based online distance learning. Our Institute provides 
                      various courses for its students from different universities, offering Distance Education & On Campus Admission
                       Consultancy in India. 
                </p>
            </div>
            <div class="col box">
                <img src="assets/img/reading.png" alt="">
            </div>
        </div>
      
    </div>
   <app-features></app-features>
</div>