<div class="containers-fluid">
    <div class="row">
        <div class="col" style="border-left: solid 5px orange;">
            <div class="icon">
                <i class="bi bi-gear-fill"></i>
            </div>
            <div class="caption">
                Education
            </div>
        </div>
        <div class="col"  style="border-left: solid 5px tomato;">
            <div class="icon">
                <i class="bi bi-mortarboard-fill"></i>
            </div>
            <div class="caption">
                Training
            </div>
        </div>
        <div class="col"  style="border-left: solid 5px rgb(255, 0, 242);">
            <div class="icon">
                <i class="bi bi-zoom-in"></i>
            </div>
            <div class="caption">
                Career
            </div>
        </div>
    </div>
</div>
