<div class="container-fluid">
    <div class="container">
        <h2>Why Choose FirstChoice EduTech?</h2>
        <h5>Why Choose FirstChoice EduTech?</h5>
        <div class="row">
            <div class="col">
                <div class="image-bg">
                    <img src="assets/img/shape-37.png" alt="">
                </div>
                <img src="assets/img/101391.png" alt="">
            </div>
            <div class="col">
                <p>
                    We are a decade old Education Consultants well verse with all higher education process in India. 
                    Our mission is to reduce any hassles involved in completing your course successfully. Our services are completely aligned 
                    with our mission making sure that our customers face no issues from the start to the end of their education. This starts with 
                    finding the right kind of university that offers the field of specialization that you are interested in. It is essentially the 
                    first step towards the successful completion of your course. Our admission assistance in India makes sure that our customers find
                     the university that they fit perfectly in. This is not hard for us considering that <em style="font-weight: 500; color: navy;">FirstChoice EduTech</em> has tie-ups with several 
                     accredited and reputed universities that offer a range of degrees and specializations. Our admission consultancy services start 
                     from understanding your requirements to finding the right university and guiding you through the admission process.
                     Our team of professionals will make sure that you are well and settled at the university of your choice.
                </p>

                <button>Know More...</button>
               
              
            </div>
        </div>
    </div>
</div>