<div class="container-fluid">
    <nav>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
                    <i class="bi bi-house"></i>
                    Home
                </a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active">
                    <i class="bi bi-person"></i>
                    About
                </a>
            </li>
            <li>
                <a routerLink="/courses" routerLinkActive="active">
                    <i class="bi bi-award"></i>
                    Courses
                </a>
            </li>
            <li>
                <a>
                    <i class="bi bi-award"></i>
                    Career
                </a>
            </li>
            <li>
                <a>
                    <i class="bi bi-currency-rupee"></i>
                    Fee Payment
                </a>
            </li>
            <li>
                <a>
                    <i class="bi bi-images"></i>
                    Gallery
                </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active">
                    <i class="bi bi-telephone-fill"></i>
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</div>