<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/bg-image-17.webp" class="d-block w-100" alt="...">
        <div class="title">
          <h1>The Best Program to <span style="color:rgb(156, 3, 3)"> Enroll</span><br/> top noch colleges in India.</h1>
          <p>exciting opportunity to deliver a programme with <br/>
            international impact, tackle in-country skills shortages <br/>
            and reduce occupational fatalities by bringing engineering-related <br/>skills and education</p>

          <button>
            Find Courses
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/bg-image-26.webp" class="d-block w-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/img/bg-image-28.webp" class="d-block w-100" alt="...">
      
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-welcome-msg></app-welcome-msg>
  <app-why-first-choice></app-why-first-choice>
  <app-top-courses></app-top-courses>
  <app-career></app-career>
  <app-testimonials></app-testimonials>