<footer>
    <div class="footer-overlay">

    </div>
    <div class="container">
        <div class="row">
            <div class="col">


                <!-- <h1>Vidyapun</h1> -->


                <img src="/assets/logo.png" alt="Vidyapun_logo">
                <p style="text-align: justify;">
                    FirstChoice EduTech is an education consultancy that assists students to get the right course in the right place. FirstChoice EduTech is an institute of distance learning cum education consultancy. Our core areas are Distance Education, Open E-learning, Consultancy to Universities, Skill Development etc.. It has been founded in 2010 and delivers quality education services to its students. 
                </p>
                <div class="footer-social">
                    <span>
                        <i class="bi bi-facebook"></i>
                    </span>
                    <span>
                        <i class="bi bi-linkedin"></i>
                    </span>
                    <span>
                        <i class="bi bi-twitter"></i>
                    </span>
                </div>
            </div>

            <div class="col">
                <h5>Top Exams</h5>
                <ul>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            CAT
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            MAT
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            GATE
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            XAT
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            NEET
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            NET
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="https://jeemain.nta.nic.in/#" target="_blank">
                            JEE
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="">
                            CLAT
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5>
                    Top Courses
                </h5>
                <ul>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            P.hD
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            M.Tech / B.Tech.
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            MBA / BBA
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            MCA /BCA
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            MA / BA
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            M.Com / B.Com
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            M.Ed / B.Ed
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="#">
                            Diploma / Polytechnic
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col">
                <h5>
                    Quick Links
                </h5>
                <ul>

                    <li>
                        <span class="square-bullet"></span>
                        <a href="https://ugc.ac.in" target="_blank">
                            UGC
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="http://www.barcouncilofindia.org/" target="_blank">
                            BCI
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="https://www.pci.nic.in/" target="_blank">
                            PCI
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a href="https://ncte.gov.in/Website/index.aspx/" target="_blank">
                            NCTE
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a routerLink="/about-us">
                            About us
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a routerLink="['/bankaccount']">
                            Bank Accounts
                        </a>
                    </li>
                    <li>
                        <span class="square-bullet"></span>
                        <a routerLink="/contact-us">
                            Contact Us
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col">
                <h5>
                    Get in touch
                </h5>
                <form action="">
                    <input type="email" placeholder="Enter Email">
                    <button>Subscribe</button>
                </form>


                <div class="contact-info">
                  <div class="address-line">
                    <span>
                        <i class="bi bi-geo-alt-fill"></i>
                    </span>
                    <span>
                        1st floor, Block E, Ashok Vihar Phase II, Opp. Shudh Vaishno Family Dhaba, Gurugram-122001, Haryana
                    </span>
                  </div>
                  <div class="address-line">
                    <span>
                        <i class="bi bi-telephone-fill"></i>
                    </span>
                    <span>
                        +91 9871330852
                      
                    </span>
                  </div>
                  <div class="address-line">
                    <span>
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                    <span>
                        firstchoiceedutech@gmail.com
                    </span>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>&copy; 2021 firstChoiceEdutech.com. All Rights Reserved.</span>
            </div>
            <div class="col">
                <span><a routerLink="/privacy"> Privacy Policy </a>| <a routerLink="/terms&condition">Terms
                        & Conditions</a> </span>
            </div>
        </div>

    </div>
</footer>